{% extends "donate/layout.html" %}
{% load static %}

{% block title %}Blood Donation{% endblock %}

{% block body %}
    <div class="container-sm">
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <label>Search Donation places in your City</label>
            <select class="form-control" aria-label="Search City" name="search_city">
                <option selected>Select Your City</option>
                <option value="Andheri">Andheri</option>
                <!--option value="Borivali">Borivali</option>
                <option value="Dadar">Dadar</option>
                <option value="Goregaon">Goregaon</option>
                <option value="Kandivali">Kandivali</option>
                <option value="Mira Road">Mira Road</option-->
                <option value="Santacruz">Santacruz</option>
                <option value="Vile Parle">Vile Parle</option> 
            </select>
            <button type="submit" name="city_search" class="btn btn-info">Search</button>
        </form>
        <h1>Donation Camps</h1>
        <ul>
            {% for camp in camps %}
                {% if camp.end_date >= today %}
                    <li>
                        {{ camp }} | {{ camp.start_date }} - {{ camp.end_date }} |
                        Address : {{ camp.dp_no.street }}, {{ camp.dp_no.city }}, {{ camp.dp_no.state }}
                    </li>
                {% endif %}
            {% empty %}
                <li>No Entries Found</li>
            {% endfor %}
        </ul>
    
        <hr>
        <h1>Blood Banks</h1>
        <ul>
            {% for bank in banks %}
                <li><a href="{% url 'bank' bank_name=bank.dp_no.name %}"> {{ bank }} </a></li>
            {% empty %}
                <li>No Entries Found</li>
            {% endfor %}
        </ul>
        
        <hr>
        <h1>Hospitals</h1>
        <ul>
            {% for hosp in hospitals %}
                <li> <a href="{% url 'profile' name=hosp.username %}"> {{ hosp }} </a></li>
            {% empty %}
                <li>No Entries Found</li>
            {% endfor %}
        </ul> 
        <hr>   
    

        {% if user.is_hospital == True %}
            <h2>Search Blood Units</h2>
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <select class="form-control" name="blood_bank_type" required>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select>
                <button type="submit" name="blood_search" class="btn btn-info">Search</button>
            </form>
            {% if table %}
                Number of units of Blood Type {{ blood_group }} 
                <table style="padding: 10px; border: 2px solid black;">
                    <tr>
                        <th>Blood Bank</th>
                        <th>City</th>
                        <th>Number of Units</th>
                    </tr>
                    {% for row in rows %}
                    <tr>
                        <td><a href="{% url 'bank' bank_name=row.blood_bank.dp_no.name %}">{{ row.blood_bank.dp_no.name }}</a></td>
                        <td>{{ row.blood_bank.dp_no.city }}</td>
                        <td>{{ row.no_of_units  }}</td>
                    </tr>
                    {% empty %}
                    <hr>No Entries Found</hr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}