{% extends "donate/layout.html" %}
{% load static %}

{% block title %}Your Profile{% endblock %}

{% block body %}
    <h1>Profile Page</h1>
    <h2>{{ user.username }}</h2>
    {% if user.is_hospital == True %}
        Hospital Details Kuch daal denge
    {% else %}
        <h4>{{ user.first_name }} {{ user.last_name }}</h3>
        <h4>Blood Group: {{ user.blood_type }}</h4>
    {% endif %}
    <h3>Address</h3>
    {{ user.street }}, {{ user.city }}, {{ user.state }}
    <h3>Contact Details</h3>
    Email: {{ user.email }}<br>
    Phone No: {{ user.phone_no }}

    {% if user.is_hospital == False %}
        <h2>Donations</h2>
        <ul>
            {% for donation in donations %}
                <li>{{ donation }}</li>
            {% endfor %} 
        </ul>     
    {% endif %}
{% endblock %}