{% extends "donate/layout.html" %}
{% load static %}

{% block title %}Profile Page{% endblock %}

{% block body %}
    <h1>Profile Page</h1>
    <h2>{{ user1.username }}</h2>
    {% if user1.is_hospital == True %}
        Hospital Details Kuch daal denge
    {% else %}
        <h4>{{ user1.first_name }} {{ user1.last_name }}</h3>
        <h4>Blood Group: {{ user1.blood_type }}</h4>
    {% endif %}
    <h3>Address</h3>
    {{ user1.street }}, {{ user1.city }}, {{ user1.state }}
    <h3>Contact Details</h3>
    Email: {{ user1.email }}<br>
    Phone No: {{ user1.phone_no }}

    {% if user1.is_hospital == False %}
        <h2>Donations</h2>
        <ul>
            {% for donation in donations %}
                <li>{{ donation }}</li>
            {% endfor %} 
        </ul>     
    {% endif %}
{% endblock %}